<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Стартовая страница пользователя</title>
</head>
<body>
<h1>Добро пожаловать в систему, вот ваши данные:</h1>
<p>Имя: <span th:text="${user.name}"></span></p>
<p>Фамилия: <span th:text="${user.surname}"></span></p>
<p>Возраст: <span th:text="${user.age}"></span></p>
<p>Имя пользователя: <span th:text="${user.username}"></span></p>
<br/>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>

</body>
</html>