<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>№</th>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Действие пользователя</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${userStat.index}+1"></td>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getSurname()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td>
                <form th:action="@{/admin/editUser(id=${user.getId()})}" method="post">
                    <button type="submit">Редактировать</button>
                </form>
                <form th:action="@{/admin/deleteUser(id=${user.getId()})}" method="post">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin}">
        <button>Вернуться на стартовую страницу</button>
    </a>
    <a th:href="@{/admin/addUser}">
        <button>Создать нового пользователя</button>
    </a>
</div>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>